/*
#region Header
*/

.layout {
  --logo-font-size: 28px;
  --header-height: 140px;
  --padding-height: calc((var(--header-height) - var(--logo-font-size)) / 2);

}

.header {
  width: 100%;
  align-items: center;
  padding: var(--padding-height) 0;
}

.header__logo {
  font-size: var(--logo-font-size);
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-links {
  width: 800px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s;
  font-size: 22px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link_shop {
  color: var(--warm-yellow);
}

/*
#endregion Header
*/

/*
#region Hero
*/

.hero {
  /* --hero-vertical-margin: 80px; */
  /* height: calc(
    100vh - var(--header-height) - calc(var(--hero-vertical-margin) * 2)
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__heading {
  color: var(--white);
  width: 600px;
}

.hero__heading h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.hero__heading p {
  font-size: 22px;
  font-weight: 500;
}

.hero__servers {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
}

.hero__servers > div {
  margin-bottom: 48px;
}

/*
#endregion Hero
*/

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
  .hero__heading {
    width: 100%;
  }
  .hero__heading h1 {
    font-size: 52px;
  }
  .header__nav {
    display: block;
    text-align: center;
  }
  .header__nav-links {
    justify-items: center;
    width: 100%;
    max-width: 100%;
  }
  /* .header__nav-links {
    flex-direction: column;
  } */
}

@media (max-width: 520px) {
  .hero__heading h1 {
    font-size: 40px;
  }
  .header__link {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .hero__heading h1 {
    font-size: 32px;
  }
}
